html
	head
		title= "Blog - Login"
		link(rel='stylesheet', href='main.css')
	body
		div
			h1 Login
			a(href="register") Not a member yet? Register here.
			br
			br
			//- h3 This is a list of all users
			//- each thing in data
			//- 	p #{thing.firstName}
			//- 	p #{thing.lastName}
			//- 	p #{thing.email}
			//- 	br