html
	head
		title= "Blog - Own Posts"
		link(rel='stylesheet', href='main.css')
	body
		div
			h1 All Posts by You!
			a(href="allposts") View all posts by others
			br
			a(href="logout") Logout
			br
			br
			//- h3 This is a list of all users
			//- each thing in data
			//- 	p #{thing.firstName}
			//- 	p #{thing.lastName}
			//- 	p #{thing.email}
			//- 	br