html
	head
		title= "Blog - Register"
		link(rel='stylesheet', href='main.css')
	body
		div
			h1 Register
			a(href="index") Already a member? Login.
			br
			br
			//- h3 This is a list of all users
			//- each thing in data
			//- 	p #{thing.firstName}
			//- 	p #{thing.lastName}
			//- 	p #{thing.email}
			//- 	br