html
	head
		title= "Blog - Own Posts"
		link(rel='stylesheet', href='main.css')
	body
		div
			h1 Hi #{currentUser.firstName}! 
			a(href="allposts") Go to all posts
			br
			a(href="ownposts") Go to your own posts
			br
			a(href="logout") Logout
			br
			br
			h2 View this one specific post
			h3= message
